/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  display: inline-block;
  z-index: 1;
  top: 1;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #fdc50a;
}

.abm-container {
  height: 100%;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.items-container {
  position: fixed;
  height: calc(100% - 50px);
  width: calc(100% - 170px);
  margin-top: 50px;
  margin-left: 160px;
}

.action-container {
  height: 60px;
}

.action-container-right {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

.action-container-left {
  float: left;
  width: 90%;
  margin-top: 10px;
}

.item-action {
  color: #000000;
  display: inline-block;
}

.form-group {
  margin-bottom: 1rem;
}

.add-container {
  margin-left: 5px;
  margin-right: 5px;
}